*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.temp-form{
position: relative;
height:100vh;
width: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: url('img2.jpg') no-repeat center center/cover;
opacity: 0.9;
}
.temp-form .container {
    width: 35%;
    height: 75%;
    padding: 40px;
    background: rgba(249, 156, 142, 0.5);
    transition: 0.5s;
    border-radius: 10px;
}
.temp-form .container:hover{
    transform: translateY(-10px);
}
.container .title{
    font-size: 30px;
    color: #050505;
    font-weight: 700;
    font-family: monospace;
}
.result-field{
    font-size: 25px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    text-align: center;
}
.option-field{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 10px;
    
   border-bottom: 1px solid black;
}
.select-box{
   border: none;
   appearance: none;
   width: 150%;
   background: transparent;
   color: #050505;
   font-size: 18px;
}


.input-field{
    float: top;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #1c1c1c;
    margin-bottom: 10px;
}
input[type="number"]{
    font-size: 18px;
    color: #050505;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
}

::placeholder{
    color: #050505;
}
:focus{
    outline: none;
}
.effect{
    border: 0;
    padding: 7px 0 ;
}

.effect ~ .focus-border{
    position: absolute;
    bottom: 0 ;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #3e3c3c;
    transition: 0.4s;
}
.effect:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
}
.button{
    color: #fff;
    padding: 10px 40px;
    background: linear-gradient(90deg, #413f3f, #1c1c1c);
    border-radius: 10px;
    margin: 0 85px ;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
}
